.Button {
    padding: 8px 32px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #0099FF;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.Button:hover {
    background-color: #00aaff;
}
