.Light {
    width: 250px;
    height: 250px;
    background-color: hsl(var(--hue), 100%, 25%);
    border-radius: 16px;
    transition: background-color 80ms ease-in-out;

    --border-corner-radius: 75%;
    --shadow-size: 16px;
    --shadow-diffumination: 48px;
}

.Light:active, .Light[data-state='1'] {
    background-color: hsl(var(--hue), 100%, 50%);
    box-shadow: 0px 0px var(--shadow-diffumination) var(--shadow-size)
        hsla(var(--hue), 100%, 50%, 0.5);
    z-index: 9999;
}

/* TODO: add another wrapper for nice inset border radius */

.Light-spacer {
    padding: 8px;
    --border-corner-radius: 75%;
}

.Light-border {
    background-color: #333;
    padding: 16px;
    border-radius: 16px;
    transition: transform 50ms ease-in-out;
}

.Light-red {
    border-top-left-radius: var(--border-corner-radius);
}

.Light-green {
    border-top-right-radius: var(--border-corner-radius);
}

.Light-blue {
    border-bottom-left-radius: var(--border-corner-radius);
}

.Light-yellow {
    border-bottom-right-radius: var(--border-corner-radius);
}

.Light-border:active {
    transform: scale(0.925);
}

@media (max-width: 767px) {
    .Light {
        width: 150px;
        height: 150px;
    }

    .Light-spacer {
        padding: 6px;
    }

    .Light-border {
        padding: 10px;
    }
}
