.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  height: 100%;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Rotate-And-Scale {
  animation: rotate-and-scale 400ms ease-in-out;
}

.Score {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 20px;
  color: #FFF;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.Score span {
  font-size: 40px;
}

@keyframes rotate-and-scale {
  from {
    transform: scale(0.1) rotate(0);
  }

  to {
    transform: scale(1) rotate(720deg);
  }
}
